<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <title>Control de Productos</title>
</head>
<body>
    <div data-role="page">
        <div data-role="header"  style="overflow:hidden;">
            <h1>Control de Productos</h1>
            <a href="#" data-icon="gear" class="ui-btn-right">Opciones</a>
            <div data-role="navbar">
            </div>
            <h1>Agrega a un Producto</h1>  
        </div> 
        <div role="content" class="ui-content"> 
            <form action="/api/productos/insert" method="POST">  
                <label for="txtProductoID">ProductoID:</label>
                <input type="number" name="producto_id" id="txtProductoID" placeholder="Ingresa la matrícula aquí" required>
                <label for="txtName">Nombre:</label>
                <input type="text" name="nombre" id="txtName" placeholder="ingresa el nombre aquí" required>
                <label for="txtStock">stock:</label>
                <input type="number" name="stock" id="txtStock" placeholder="Ingresa el grado aquí" required>
                <label for="txtGroup">precio:</label>
                <input type="text" name="precio" id="txtPrecio" placeholder="Ingresa el grupo aquí" required>
                <button class="ui-btn ui-btn-inline">Guardar</button>
            </form>
            
            <ul data-role="listview" data-filter="true" data-filter-placeholder="Buscar estudiantes" data-inset="true">
                <!--vamos a incrustar JavaScript a HTML con ejs para mandar a traer a los estudiantes en un forEach y todo lo que sea en javaScript va a ser dentro de <% %> -->
                <% productos.forEach((producto)=>{ %>
                    <div data-role="collapsible" data-content-theme="false">
                    <h4><%= producto.nombre%></h4>
                    <p>ProductoID: <%= producto.producto_id %></p>
                    <p>Nombre: <%= producto.nombre %></p>
                    <p>Nombre <%= producto.stock%></p>
                    <p>Precio <%= producto.precio%></p>
                    <a href="/api/productos/getOne/<%= producto.producto_id %>" class="ui-btn ui-icon-edit ui-btn-icon-bottom">Editar</a>
                    <a href="/api/productos/deleteOne/<%= producto.producto_id %>" class="ui-btn ui-icon-delete ui-btn-icon-bottom" >Borrar</a>
                    </div>
                <% }) %>  
            </ul>
            
        </div>
        <div data-role="footer" style="overflow:hidden;">
            <h4 style="text-align: center;">Redes Sociales</h4>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-icon="user">Facebook</a></li>
                    <li><a href="#" data-icon="heart">Instagram</a></li>
                    <li><a href="#" data-icon="mail">Gmail</a></li>
                </ul>
            </div>
            <p style="text-align:center;">©Copyright Diego Tecorralco</p>
        </div>
    </div>
</body>
</html>